.list {
  flex: 1;
  overflow-y: auto;
  padding: 24px 40px 32px;
  display: flex;
  flex-direction: column;
}

.list::-webkit-scrollbar {
  width: 6px;
}

.list::-webkit-scrollbar-thumb {
  background: var(--color-gray-200);
  border-radius: 4px;
}
